<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" /></a>
        </div>
        <div class="right-div">
            <a href="#" class="btn btn-danger pull-right">LOG ME OUT</a>
        </div>
    </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="#" ng-click="vm.changePage('index')" ng-class="{'menu-top-active': vm.pageName == 'index'}">MAIN BOARD</a></li>                           
                        <li><a href="#" ng-click="vm.changePage('table')" ng-class="{'menu-top-active': vm.pageName == 'table'}">TABLES</a></li>
                        <li><a href="#" ng-click="vm.changePage('blank')" ng-class="{'menu-top-active': vm.pageName == 'blank'}">BLANK PAGE</a></li>
                        <!--<li><a href="index.html" class="menu-top-active">DASHBOARD</a></li>                           
                        <li><a href="table.html">TABLES</a></li>
                        <li><a href="blank.html">BLANK PAGE</a></li>-->
                            <!--<li><a href="form.html">FORMS</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown">UI ELEMENTS <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="ui.html">UI ELEMENTS</a></li>
                                     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EXAMPLE LINK</a></li>
                                </ul>
                            </li>
                            <li><a href="tab.html">TABS & PANELS</a></li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- MENU SECTION END-->