<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Авторский материал
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Песня</th>
                                        <th>Алик</th>
                                        <th>Дима</th>
                                        <th>Гриша</th>
                                        <th>Валя</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="song in vm.songs.author">
                                        <td><span>{{song.name}}</span><span style="float: right"><button type="button" ng-click="vm.showSong(song)" class="btn btn-primary btn-small" data-toggle="modal" data-target="#songModal">Подробнее</button></span></td>
                                        <td>{{song.alex}}</td>
                                        <td>{{song.dima}}</td>
                                        <td>{{song.grisha}}</td>
                                        <td>{{song.valya}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><span style="float: right"><b>Всего: {{vm.songs.author.length}}</b></span></td>
                                        <tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Каверы
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Песня</th>
                                        <th>Алик</th>
                                        <th>Дима</th>
                                        <th>Гриша</th>
                                        <th>Валя</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="song in vm.songs.cover">
                                        <td><span>{{song.name}}</span><span style="float: right"><button type="button" ng-click="vm.showSong(song)" class="btn btn-primary btn-small" data-toggle="modal" data-target="#songModal">Подробнее</button></span></td>
                                        <td>{{song.alex}}</td>
                                        <td>{{song.dima}}</td>
                                        <td>{{song.grisha}}</td>
                                        <td>{{song.valya}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><span style="float: right"><b>Всего: {{vm.songs.cover.length}}</b></span></td>
                                        <tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Аккустика
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Песня</th>
                                        <th>Алик</th>
                                        <th>Дима</th>
                                        <th>Гриша</th>
                                        <th>Валя</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="song in vm.songs.acoustic">
                                        <td><span>{{song.name}}</span><span style="float: right"><button type="button" ng-click="vm.showSong(song)" class="btn btn-primary btn-small" data-toggle="modal" data-target="#songModal">Подробнее</button></span></td>
                                        <td>{{song.alex}}</td>
                                        <td>{{song.dima}}</td>
                                        <td>{{song.grisha}}</td>
                                        <td>{{song.valya}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><span style="float: right"><b>Всего: {{vm.songs.acoustic.length}}</b></span></td>
                                        <tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="songModal" tabindex="-1" role="dialog" aria-labelledby="songModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="songModalLabel">{{vm.currentSong.name}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="vm.editSong = false" data-dismiss="modal">Close</button>
                        <button type="button" ng-if="!vm.editSong" ng-click="vm.editSong = true" class="btn btn-primary">Edit</button>
                        <button type="button" ng-if="vm.editSong" ng-click="vm.saveSong(vm.currentSong)" class="btn btn-primary">Save</button>
                    </div>
                    <div class="modal-body">
                        <div ng-if="vm.editSong">
                            <div class="pass">
                                <b>Пароль:</b>
                                <input type="password" class="form-control" ng-model="vm.pass"></input>
                            </div>
                            <div class="song-name">
                                <b>Название:</b>
                                <input class="form-control" ng-model="vm.currentSong.name"></input>
                            </div>
                            <div class="you-tube">
                                <b>Ссылка YouTube:</b>
                                <input class="form-control" ng-model="vm.currentSong.details.youTube"></input>
                            </div>
                            <div class="text">
                                <b>Текст песни:</b>
                                <textarea rows="15" class="form-control" ng-model="vm.currentSong.details.text"></textarea>
                            </div>
                            <div class="song-links">
                                <b>Ссылки:</b>
                                <textarea rows="4" class="form-control" ng-model="vm.currentSong.details.links"></textarea>
                            </div>
                        </div>
                        <div ng-if="!vm.editSong">
                            <div class="you-tube" style="text-align: center" ng-if="vm.currentSong.details.youTube">
                                <iframe width="560" height="315" ng-src="{{vm.getVideo(vm.currentSong.details.youTube)}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="text" ng-if="vm.currentSong.details.text">
                                <b>Текст песни:</b>
                                <pre>{{vm.currentSong.details.text}}</pre>
                            </div>
                            <div class="song-links" ng-if="vm.currentSong.details.links">
                                <b>Ссылки:</b>
                                <pre>{{vm.currentSong.details.links}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Другая херня-->
        <div ng-if="false">
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                    <!--   Kitchen Sink -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Kitchen Sink
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Kitchen Sink -->
                </div>
                <div class="col-md-6">
                    <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Basic Table
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Basic Table  -->
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                    <!--    Striped Rows Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Striped Rows Table
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  End  Striped Rows Table  -->
                </div>
                <div class="col-md-6">
                    <!--    Bordered Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bordered Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  End  Bordered Table  -->
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                    <!--    Hover Rows  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Hover Rows
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Hover Rows  -->
                </div>
                <div class="col-md-6">
                    <!--    Context Classes  -->
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Context Classes
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="success">
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr class="info">
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr class="danger">
                                            <td>4</td>
                                            <td>John</td>
                                            <td>Smith</td>
                                            <td>@jsmith</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  end  Context Classes  -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
</div>